<nav class="navbar navbar-expand-lg navbar-dark text-center habs-10 b0gray ">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" style="background: #aaa;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
      <a href="/"><img src="/images/Logo.png" class="float-left"    alt="" height="70vh"></a> 
      <ul class="navbar-nav ml-auto float-right" style="">
        <li class="nav-item active">
          <a class="h-100 w-100 nav-link" style="color: rgb(1, 129, 129);" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="dropdown-item " href="/about/#">About Tethys</a><hr>
            
          </li>
        <!-- <li class="nav-item active">
          <a class="h-100 w-100 nav-link" style="color: rgb(1, 129, 129);" href="/about">About Us</a>
        </li> -->
        <li class="nav-item active">
          <a class="h-100 w-100 nav-link" style="color: rgb(1, 129, 129);" href="/#work">Our Work</a>
        </li>
        <li class="nav-item  active">
            <a class="h-100 w-100 nav-link" style="color: rgb(1, 129, 129);" href="/#support">Request For Support</a>
        </li>
      </ul>
    </div>
  </nav>

  <script>
  $(document).ready(function(){
    $(".navbar-nav li").click(function(e){
      var x=$(".navbar-nav li")
      for(var i=0;i<x.length;i++)
      {
        var elem= x[i];
        elem.classList. remove("active");   
      }

      var $this = $(this);
      if (!$this.y.classList.contains("active")) {
          $this.classList.add('active');
      }
    })
  })
  $(".nav-item a").addClass("ffLato");
  $(".nav-item a").addClass("font-20");
  $(".nav-item a").addClass("mx-1");
  </script>
